// Primary Colors
$primary-color-1: #C24E21;   
$primary-color-2: #F26129;   
$primary-color-3: #F69069;   
$primary-color-4: #FEEFEA;   

// Grayscale Colors
$grayscale-color-1: #FFFFFF;  
$grayscale-color-2: #EEEDF2;   
$grayscale-color-3: #9AA5B1;   
$grayscale-color-4: #141522;   
